<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282793795955-60vc7me5gol4925mjhvdc23d47c0aott.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282793795955-60vc7me5gol4925mjhvdc23d47c0aott</string>
	<key>API_KEY</key>
	<string>AIzaSyChv5L6ClWnbkPJskwfown0Dk34nKyYk1k</string>
	<key>GCM_SENDER_ID</key>
	<string>282793795955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.moresushant48.moneyTracker</string>
	<key>PROJECT_ID</key>
	<string>money-tracker-d6e1a</string>
	<key>STORAGE_BUCKET</key>
	<string>money-tracker-d6e1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282793795955:ios:210ba536c0b3f342c72506</string>
</dict>
</plist>